a {
  color: #11999e;
}
body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
p{
  font-weight: bold;
}

.btn{
border-radius: 8px;
color: white;
text-decoration: solid;
background-color: #12cfd6;
padding: 10px 15px 10px 15px;
margin-top: 20px;
font-family:"Montserrat", sans-serif ;
}
.btn:hover{
  color: #e3e330;
  background-color: #2c9b9f;
}

hr{
    border-color: grey;
border-width: 6px;
border-style: dotted none none;
width:5%;
margin: 20px auto 80px auto;

}
h1 {
  margin: 0;
  font-family: "Sacramento", cursive;
  font-size: 90px;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight:bolder;
  color: #66bfbf;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  font-weight: bolder;
}
.profile-image {
    margin-top: 80px;
  height: 200px;
}
.profile{
    margin-bottom: 80px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-image-1 {
  width: 30%;
  float: left;
  margin-right: 30px;

}
.skill-image-2 {
  width: 20%;
  float: right;
  margin-left: 30px;
  
}

.top-container {
  background-color: #defbfa;
  position: relative;
  padding-top: 120px;
}

.bottom-container {
    background-color: #66BFBF;
    padding-top: 50px;
    padding-bottom: 50px;
    text-decoration: solid;
}
.bottom-para {
  margin-bottom: 50px;
  margin-top: 50px;
}

.upper-cloud {
  position: absolute;
  right: 410px;
  top: 80px;
}
.bottom-cloud {
  position: absolute;
  left: 450px;
  bottom: 300px;
}
.contact-me{
  margin-bottom: 100px;
}
 .footer-link{
   margin: 30px;
   text-decoration: solid;
   font-family: "Montserrat", sans-serif;
   font-weight: bold;
 }

 .footer-text{
   font-size: small;
   color: white;
   font-weight: normal;
   padding-top: 20px;
 }
}
 .footer-link:hover{
   color: white;
 }
